extends layout

block vars
  -bodyClass = 'login-page'

block content
  .login-chat-wrapper
    h1.title Register
    form.form-login(method="post")
      input(type="text", name="username", placeholder="User Name")
      input(type="text", name="password", placeholder="Password")
      input(type="text", name="fullName", placeholder="Full Name")
      .button-row
        button(type="submit") Register
    p.note
      | You have an account 
      a(href="/users/login") Sign in
